@media all {
    body {
        background-image: url(https://images.unsplash.com/photo-1606688323650-7c1e51d7959f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1190&q=80);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode:screen;
        background-color: rgba(209, 195, 178, 0.685);
        background-clip: border-box;
        background-origin:content-box;
    }

    .descriptions{
        font-family: 'Times New Roman';
        border: 2px solid rgb(201, 37, 37);
        box-shadow: 1px 2px 5px rgb(179, 196, 231);
        background-color: rgba(240, 219, 193, 0.644);
    }
    p {
        font-family: Verdana;
        margin-bottom: 10px;
        margin-left: 10px ;
    }

    h1{
        color: rgb(99, 69, 31);
        text-shadow: 1px 1px 5px rgba(157, 216, 250, 0.842);
    text-align: center;
    font-family: 'Gill Sans';
    }



    

}

@media print {
    body {
        background-image: none;
        background-color: none;
        font-family: sans-serif;
    }
}